html {
    background-color: #E5E5E5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 5px 0;
}

.headerDiv {
    display: flex;
    margin: 0 1rem;
}

.headerDiv #headerTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    margin-top: 1.1rem;
}

.headerDiv h1 img {
    width: 60px;
    height: 60px;
    margin-right: 1.5rem;
}

#globalSection {
    display: flex;
    flex-direction: row;
    margin: 2rem 1rem;
}

#globalSection #encryptorDiv {
    width: 80%;
}

#globalSection #resultText {
    width: 20%;
}

.verticalDivs {
    display: flex;
    flex-direction: column;
}

#encryptorDiv textarea {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    width: 65%;
    margin: 3rem auto;
    resize: none;
}

#encryptorDiv textarea:focus {
    outline: none;
}


.bottomDiv {
    justify-content: center;
    align-items: baseline;
    margin: 2rem auto 0 10rem;
}

.bottomDiv .alertDiv {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    font-family: inherit;
    margin: 0.5rem auto 0;
}

.alertDiv img {
    width: 15px;
    height: 15px;
    margin: 0.8rem 1rem 0 2.1rem;
}

.alertDiv #alertText {
    margin-top: 0.8rem;
}


#encryptorDiv .buttonsDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    font-size: 6rem;
}

#encryptorDiv #encryptButton {
    background-color: #0A3871;
    color: white;
    border-radius: 1rem;
    border: none;
    margin: 1rem 2rem;
    width: 14rem;
    height: 3rem;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    font-family: inherit;
}

#encryptorDiv #encryptButton:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    background-color: #0c4285;
}

#encryptorDiv #decryptButton {
    background-color: #D8DFE8;
    color: #0A3871;
    border-radius: 1rem;
    border: 1px solid #0A3871;
    margin: 1rem 2rem;
    width: 14rem;
    height: 3rem;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease-in-out;
    font-family: inherit;
}

#encryptorDiv #decryptButton:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

#resultText {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    width: 400px;
    height: 550px;
    left: 1000px;
    top: 3rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

#resultText #encryptedText {
    position: absolute;
    width: 300px;
    height: 500px;
    top: 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #495057;
    white-space: normal;
    word-break: break-word;
}

#resultText #copyButton {
    color: #0A3871;
    border-radius: 1rem;
    border: 1px solid #0A3871;
    margin: auto auto 1rem;
    width: 14rem;
    height: 3rem;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease-in-out;
    font-family: inherit;
    display: none;
    z-index: 200;
}

#resultText #copyButton:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

#copyMessageAlert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#messageAlert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#messageTextAlert {
    font-size: 18px;
    color: #333;
    margin-bottom: 1rem;
}

#copyAlertButton {
    background-color: #D8DFE8;
    color: #0A3871;
    border-radius: 1rem;
    border: 1px solid #0A3871;
    width: 14rem;
    height: 3rem;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease-in-out;
    font-family: inherit;
}

#copyAlertButton:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

#footerDiv {
    background-color: #D8DFE8;
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#footerDiv h5 {
    color: #0A3871;
    margin-right: 0.5rem;
}

#footerDiv img {
    width: 20px;
    height: 20px;
    margin-top: 0.20rem;
}